.movies-card {
    margin: 0;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    line-height: normal;
}

.movies-card__img {
    display: block;
    width: 270px;
    height: 151px;
    flex-shrink: 0;
}

.movies-card__container {
    margin: 0;
    background-color: #222222;
}

.movies-card__signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies-card__title {
    max-width: 206px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    padding: 14px 0 10px 12px;
}

.movies-card__label {
    border: none;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    padding: 0;
    margin-right: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #222222;
}

.movies-card__label-img {
   margin: 0;
}

.movies-card__duration {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    padding-left: 12px;
    padding-bottom: 10px;
}