.promo {
    margin: 0;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    background: #073042;
    font-family: 'Inter', 'Arial', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
}

@media (max-width: 768px) {
    .promo {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .promo {
        max-width: 320px;
    }
}

.promo__logo {
    max-width: 310px;
    height: 304px;
    display: block;
    flex-shrink: 0;
    margin: 75px 70px 145px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .promo__logo {
        margin-top: 140px;
        margin-bottom: 48px;
    }
}

@media (max-width: 320px) {
    .promo__logo {
        width: 210px;
        height: 206px;
    }
}

.promo__container {
    margin-top: 75px;
    margin-left: 70px;
}

@media (max-width: 768px) {
    .promo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }
}

.promo__title {
    margin: 0;
    max-width: 640px;
    color: #FFF;

    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 116%;
}

@media (max-width: 768px) {
    .promo__title {
        max-width: 680px;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 40px;
        line-height: 125%;
    }
}

@media (max-width: 768px) {
    .promo__title {
        max-width: 300px;
        font-size: 30px;
        line-height: 126.667%;
        letter-spacing: -1.2px;
    }
}

.promo__subtitle {
    margin-top: 36px;
    margin-bottom: 146px;
    max-width: 310px;
    color: #FFF;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .promo__subtitle {
        margin-top: 22px;
        margin-bottom: 92px;
        max-width: 260px;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
    }
}

.promo__button {
    margin: 0 0 25px;
    width: 129px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #FFF;
    opacity: 0.6;
    background-color: #073042;
}

@media (max-width: 768px) {
    .promo__button {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.promo__button:hover {
    cursor: pointer;
}

.promo__button-text {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 133, 33%;
}