.about-me {
    margin: 0;
    background: #202020;
}

.about-me__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 66px 6.14% 101px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFF;
}

@media(max-width: 520px) {
    .about-me__user {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }
}

@media(max-width: 320px) {
    .about-me__user {
        margin-bottom: 70px;
    }
}

.about-me__container {
    max-width: 600px;
    margin: 0;
    padding: 0;
}

.about-me__title {
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 116%;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
}

@media(max-width: 320px) {
    .about-me__title {
        font-size: 30px;
        letter-spacing: -1.2px;
    }
}

.about-me__subtitle {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 500;
    line-height: 111.111%;
    margin: 18px 0 26px 0;
}

@media(max-width: 320px) {
    .about-me__subtitle {
        font-size: 11px;
        line-height: 145.455%;
    }
}

.about-me__info {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-weight: 400;
    line-height: 157.143%;
    margin: 0 0 99px;
    padding: 0;
}

@media(max-width: 320px) {
    .about-me__info {
        font-size: 11px;
        line-height: 145.455%;
        margin-bottom: 40px;
    }
}

.about-me__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.about-me__link:hover {
    cursor: pointer;
}

.about-me__link:visited {
    color: inherit;
}

.about-me__foto {
    width: 270px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 10px;
    object-fit: cover;
}

@media(max-width: 320px) {
    .about-me__foto {
        width: 292px;
        height: 352px;
        margin-bottom: 40px;
    }
}